.mapa { 
    width: 100%vh;
    margin-top: 50px;
}

.formulario {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;

    .item-formulario {
        margin: 1rem;
        border-color: white;
        border-radius: 1rem;
        min-height: 3rem;

    }

}


.contacto { 
    display: flex;
    justify-content: center;
}
.boton {
    background-color: white;
    color: black;
    font-size: 1.2rem;  
    padding: 0.5rem;
    border-radius: 1rem; 
    &:hover{
        background-color:black;
        color: white;
    } 
}

.medioscontacto {
    padding-left: 5rem;
}


