@media (max-width:500px)
{
    .menu {
        flex-direction: column;
        background-color: $colorfondo;
        border-top: black;
        border-top-style: dashed;
        
        
    }
 
    .maquina {
        max-width: 100%;
        display: flex;
        position: relative;
        margin: .5rem;
        padding: 1rem;

        
    }
}
