@media (max-width:500px)
{
    .menu {
        flex-direction: column;
        background-color: $colorfondo;
        border-top: black;
        border-top-style: dashed;
        
        
    }
 
.maquina {

    padding: 0rem;

}
}

@media (max-width: 422px) 
{
    .maquina img {
     max-width: 100%;;
      padding: 0rem;

  
    }
}