.mainservicios {
    display: flex;
    align-items: center;
}

p{
  margin-bottom: 0;
}
.alquiler {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .maquina {
      position: relative;
      max-height: 300px;
  
  
  
      .desc {
          color: black;
          font-size: 1.5rem;
          position: absolute;
          bottom: 0;
          z-index: 0;
          background-color: rgba(255, 255, 255, 0.335);
          -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      }
      

  }
  }
  



