.alquiler {
    display: flex;
    flex-direction: row;
}
.maquina {
    display: flex;
    position: relative;
    margin: .5rem;
}

.desc {
    color: black;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.335);
}

.desc {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}